header {background-color: #458FFF;
padding-bottom: 10px;
padding-top: 10px;}

body {
    font-family: Helvetica, Arial, sans-serif; /* Choose your desired font */
}

h1 {text-align: center;
    padding-top: 20px;
    margin: 0;}

body {margin: 0;}

h4 {margin-top: 10px;
    margin-bottom: 10px;}

h4 a {text-decoration: none;
    color: inherit;}

nav {padding: 20px;
    text-align: center;}

nav a {padding: 40px;
    font-size: 18px;
    color: inherit;
    text-decoration: none}

h3 {padding-left: 50px;}

#size-selection button {margin-top: 15px;}

#images {display: flex;
    flex-direction: column; align-items: center;}
    #thumbnails {padding-top: 10px; display: flex; gap: 10px;}
    #info {padding-left: 50px; margin-top: -20px;}
    #info ul {padding-left: 25px;}
    #info li {
        margin-bottom: 10px;
        padding-left: 5px;
    }
    #info h1 {text-align: left;}
    #info h3 {padding-left: 0;
    padding-bottom: 10px;}
    #messages {color: green;
        font-weight: bold;
        font-size: 18px;}

.img1 {max-width: 100%;}